<ion-header> <!--INICIO TOPO-->
  <ion-toolbar>
    <ion-buttons slot="start"><!--INICIO BOTÃO PARA RETORNAR-->
      <ion-back-button></ion-back-button>
    </ion-buttons><!--INICIO BOTÃO PARA RETORNAR-->

    <ion-title>App Carona</ion-title>
  </ion-toolbar>
</ion-header> <!--FIM TOPO-->

<ion-content><!--INICIO CORPO-->
  <div class="container" style="overflow: hidden;"> 
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input placeholder="Ex: José da Silva"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Seu RA:</ion-label>
      <ion-input placeholder="Ex: 0000"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Seu Endereço - Cep</ion-label>
      <ion-input placeholder="Ex: 00000-000"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Seu Endereço - Rua</ion-label>
      <ion-input placeholder="Ex: Avenida Vida Nova"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Seu Endereço - Número</ion-label>
      <ion-input placeholder="Ex: 000"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Seu Endereço - Cidade</ion-label>
      <ion-input placeholder="Ex: Taboão da Serra"></ion-input>
    </ion-item> 

    <div class="campo-ajuda" (click)="ativarIcone('combustivel')">
      <img [src]="ajuda.combustivel.href" alt="Icone que representa combustivel">

      <label>Ajuda com combustível</label>
    </div>

    <div class="campo-ajuda" (click)="ativarIcone('estacionamento')">
      <img [src]="ajuda.estacionamento.href" alt="Icone que representa estacionamento">

      <label>Ajuda com estacionamento</label>
    </div>
  </div>  
</ion-content><!--FIM CORPO-->

<ion-footer> <!--INICIO TOPO-->
  <ion-toolbar>
    <ion-button expand="block" color="success" class="button-footer" disabled="true">
      Prosseguir
    </ion-button>
  </ion-toolbar>
</ion-footer> <!--FIM TOPO-->