<ion-header> <!--INICIO TOPO-->
  <ion-toolbar>
    <ion-buttons slot="start"><!--INICIO BOTÃO PARA RETORNAR-->
      <ion-back-button></ion-back-button>
    </ion-buttons><!--INICIO BOTÃO PARA RETORNAR-->

    <ion-title>App Carona</ion-title>
  </ion-toolbar>
</ion-header> <!--FIM TOPO-->

<ion-content><!--INICIO CORPO-->
  <div class="container" style="overflow: hidden;"> 
   
  </div>
</ion-content><!--FIM CORPO-->

<ion-footer> <!--INICIO TOPO-->
  <ion-toolbar>
    <ion-button expand="block" color="success" class="button-footer" disabled="true">
      Prosseguir
    </ion-button>
  </ion-toolbar>
</ion-footer> <!--FIM TOPO-->