h1{
    margin-bottom: 10px;
}

.campo-ajuda{
    width: 100%;
    background-color: white;
    height: 39px;
    display: flex;
    align-items: center;
    color: #737373 ;
}

.campo-ajuda img {
    width: 24px;
    margin-right: 15px;
}

ion-button{
    margin: 20px 0px !important;
    width: 100%;
    max-width: none;
}

ion-card-content{
    padding: 30px;    
}

.aguardando{ color: #0987f2 }

.disponivel{ color: #81e300 }

.emContato{  color: #ffd300 }

.emPausa{ color: #ffae00 }

.caronaFechada{ color: #5300b4 }