<ion-header> <!--INICIO TOPO-->
  <ion-toolbar>
    <ion-buttons slot="start"><!--INICIO BOTÃO PARA RETORNAR-->
      <ion-back-button></ion-back-button>
    </ion-buttons><!--INICIO BOTÃO PARA RETORNAR-->

    <ion-title>App Carona</ion-title>
  </ion-toolbar>
</ion-header> <!--FIM TOPO-->

<ion-content><!--INICIO CORPO-->
  <div class="container" style="overflow: hidden;"> 
    <!--Construir tela aqui-->
      <div class="style">
        <ion-card>

          <ion-card-content>

        <h2 class = "usuario">Olá <strong> usuário </strong> </h2>

        <p class = "endereco"><strong>Endereço</strong></p>

        <p class = "endereco">Avenida Tal, Nº 000, Taboão da Serra - SP 00000-000</p>

        <p><strong>Lugares disponívei:</strong> 2/4 </p>

        <p><strong>Deslocamento máximo:</strong> 1KM</p>

        <ion-button expand="block" color="primary" class="button-footer button-ana" disabled="true">
          Atualizar dados
        </ion-button>

        <ion-button expand="block" color="warning" class="button-footer button-ana" disabled="true">
          Status carona
        </ion-button>

        <ion-button expand="block" color="success" class="button-footer button-ana" disabled="true">
          Opções de carona
        </ion-button>

      </ion-card-content>
        </ion-card>
      
      </div>

  </div>
</ion-content><!--FIM CORPO-->