.style{
    color: black;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.button-ana{
    width: 100%;
    margin-bottom: 20px !important;
}

.endereco{
    margin-top: 5px;    
    margin-bottom: 0;
}

.usuario{
    margin-bottom: 20px;
}

