<ion-header> <!--INICIO TOPO-->
  <ion-toolbar>
    <ion-title>App Carona</ion-title>
  </ion-toolbar>
</ion-header> <!--FIM TOPO-->

<ion-content><!--INICIO CORPO-->
  <div class="container" style="overflow: hidden;"> 

    <img class="icone-carro" src="../../assets/logo-carro.svg" alt="Carro">

    <ion-button expand="block" [color]="corButtons.dar" class="button-footer" (click)="selecionouTipoCadastro('dar')">
      Dar Carona
    </ion-button>

    <ion-button expand="block" [color]="corButtons.pegar" class="button-footer" (click)="selecionouTipoCadastro('pegar')">
      Pegar Carona
    </ion-button>
  </div>
</ion-content><!--FIM CORPO-->

<ion-footer> <!--INICIO TOPO-->
  <ion-toolbar>
    <ion-button expand="block" color="success" class="button-footer" [disabled]="bloquearButtonProsseguir" (click)="navegarTelaCadastro()">
      Prosseguir
    </ion-button>
  </ion-toolbar>
</ion-footer> <!--FIM TOPO-->